.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input {
  border: 1px solid #333;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: transparent;
  padding: 10px;
  width: 25%;
  min-width: 150px;
}

.submit {
  border-radius: 3px;
  color: #fff;
  background-color: #3369fb;
  border: 1px solid #3369fb;
  padding: 10px;
  width: 25%;
  min-width: 150px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
